:root {
  --bg-color: #fff2d8;
  --brand-color: #333;
  --text-color: #000;
  --headers-color: #000;
  --text-light: #bbb;
  --sidebar-bg: #222;
}

:root[data-theme="dark"] {
  --bg-color: #1b1b1b;
  --brand-color: #3f83ba;
  --text-color: #aaa;
  --headers-color: #eee;
  --text-light: #26407c;
  --sidebar-bg: #111;
}

body {
  margin: 0;
  font-family: 'Droid Sans', sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 1.1rem;
  background-color: var(--bg-color);
}

p {
  color: var(--text-color);
  margin-bottom: 1.2rem;
  font-size: var(--fontSize);
  text-align: justify;
  text-indent: 1.5rem;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  color: var(--headers-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: underline;
  color: var(--brand-color);
}

a:hover {
  color: var(--text-color);
}

main,
.sidebar {
  transition-duration: 500ms;
}

.container {
  max-width: 45rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

